<header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
        <div class="position-sticky">
            <div class="list-group list-group-flush mx-3 mt-4">
                <!-- Collapse 1 -->
                <!-- <a class="list-group-item list-group-item-action py-2 ripple" aria-current="true"
                    data-mdb-toggle="collapse" href="#collapseExample1" aria-expanded="true"
                    aria-controls="collapseExample1">
                    <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Expanded menu</span>
                </a> -->
                <!-- Collapsed content -->
                <ul id="collapseExample1" class="collapse show list-group list-group-flush">
                    
                       <!-- <li class="list-group-item py-1">
                        <a href="launcher?menu_value=MANAGE_CONTENT" class="text-reset">PENGELOLAAN CONTENT</a>
                    </li>
                    <li class="list-group-item py-1">
                        <a href="launcher?menu_value=LIST_LIVE_CONTENT" class="text-reset">LIST ARTIKEL TAYANG</a>
                    </li>
                    <li class="list-group-item py-1">
                        <a href="launcher?menu_value=LIST_END_CONTENT" class="text-reset">LIST ARTIKEL BERHENTI TAYANG</a>
                    </li> -->
                    {%if ROLE == 'jurnalist'%}
                    <li class="list-group-item py-1">
                        <a href="launcher?menu_value=WRITE_CONTENT" class="text-reset">LIST JURNALIST</a>
                    </li>
                    {%endif%}
                    {%if ROLE == 'editor'%}
                    <li class="list-group-item py-1">
                        <a href="launcher?menu_value=EDITOR_PAGE" class="text-reset">LIST EDITOR</a>
                    </li>
                    {%endif%}
                    {%if ROLE == 'redaksi'%}
                    <li class="list-group-item py-1">
                        <a href="launcher?menu_value=REDACTION_PAGE" class="text-reset">LIST REDACTION</a>
                    </li>
                    {%endif%}

                </ul>
                <!-- Collapse 1 -->

                <!-- Collapse 2 -->
                <!-- <a class="list-group-item list-group-item-action py-2 ripple" aria-current="true"
                    data-mdb-toggle="collapse" href="#collapseExample2" aria-expanded="true"
                    aria-controls="collapseExample2">
                    <i class="fas fa-chart-area fa-fw me-3"></i><span>Collapsed menu</span>
                </a> -->
                <!-- Collapsed content -->
                <!-- <ul id="collapseExample2" class="collapse list-group list-group-flush">
                    <li class="list-group-item py-1">
                        <a href="" class="text-reset">Link</a>
                    </li>
                    <li class="list-group-item py-1">
                        <a href="" class="text-reset">Link</a>
                    </li>
                    <li class="list-group-item py-1">
                        <a href="" class="text-reset">Link</a>
                    </li>
                    <li class="list-group-item py-1">
                        <a href="" class="text-reset">Link</a>
                    </li>
                </ul> -->
                <!-- Collapse 2 -->
            </div>
        </div>
    </nav>
    <!-- Sidebar -->

    <!-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
                aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Brand -->
            <a class="navbar-brand" href="#">
                <span>
                    <img src="https://media-exp1.licdn.com/dms/image/C4E03AQHizc5H0tiKOQ/profile-displayphoto-shrink_200_200/0/1611664020808?e=1658966400&v=beta&t=CugDI98-uJxKHXGia3n0QTUEfd_p3MtZrO6QOcOmDks" height="25"
                        alt="MDB Logo" loading="lazy" />
                </span>
                <span>Management Content System</span>
            </a>
            <!-- Search form -->
            <!-- <form class="d-none d-md-flex input-group w-auto my-auto">
                <input autocomplete="off" type="search" class="form-control rounded"
                    placeholder='Search (ctrl + "/" to focus)' style="min-width: 225px;" />
                <span class="input-group-text border-0"><i class="fas fa-search"></i></span>
            </form> -->

            <!-- Right links -->
            <li class="nav-item dropdown">
                <!-- AVATAR -->
                <a class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://media-exp1.licdn.com/dms/image/C4E03AQHizc5H0tiKOQ/profile-displayphoto-shrink_200_200/0/1611664020808?e=1658966400&v=beta&t=CugDI98-uJxKHXGia3n0QTUEfd_p3MtZrO6QOcOmDks" height="22" class="rounded-circle">
                    <span>{{USERNAME}} ({{ROLE}})</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">                            
                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                </ul>
            </li>
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
</header>